<h3 class="h3">Recipe List</h3>

<div class="my-3">
	<% @recipes.each do |recipe|%>

		<div class="card my-2">
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-center">
					<h2 class="my-5"><%=  link_to  recipe.name, recipe_path(recipe.id), class: "card-title" %></h2>
					<%= button_to "REMOVE", recipe_path(recipe.id),  method: :delete, class: "btn btn-danger" %>
				</div>
				<div class="flex-auto">
					<p class="card-text">	<%= recipe.description%> </p>
				</div>
			</div>
		</div>
		
	<% end %>
</div>

<div class="my-5">
	<%= link_to "Create Recipe", new_recipe_path, class: "btn btn-primary" %>
</div>